@{
    var tagsHtml = new List<IHtmlString>();
    foreach(var t in Model.Tags) {
        if (tagsHtml.Any()) {
            tagsHtml.Add(new HtmlString(", "));
        }
        tagsHtml.Add(Html.ActionLink((string)t.TagName, "Search", "Home", new { area = "Orchard.Tags", tagName = (string)t.TagName }, new { rel="tag" }));
    }
}

@if (tagsHtml.Any()) {
    <div class="tags">
        <p>@T("Tagged with")
        @foreach(var htmlString in tagsHtml) { @htmlString }
        </p>
    </div>
}
